.postItem {
    background-color: var(--color-bg--);
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;

    h3 {
        margin-bottom: 0;
    }

    small {
        color: var(--color-secondary-text--);
    }
    
}